.section1{
    display: flex;
    flex-direction: column;
    transition: 0.5s;

    
}
.nowShowingTopic{
    padding-left: 12%;
    padding-right: 10%;
    margin-top: 40px;
    margin-bottom: 20px;

    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
.movieGrid{
    display: grid;
    
    grid-template-rows:  1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;

    padding-left: 10%;
    padding-right: 10%;
     
     
}

.movie1{
    padding: 10%;
    background-color: rgba(165, 42, 142, 0.2);
    margin: 2px;
     
}

.movie1:hover{

    padding: 9%;
     

    .movieName{
        color: brown;
         

    }
    .button1{
        
          
        font-weight: 900px;
        background: linear-gradient(to top, rgb(152, 46, 201),rgb(230, 39, 230));
    
         
    }

 


     
}


 

.movieImage{
     
    width: 100%;
     

    

}



.movieName{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: 500px;

    margin-bottom: 10px;
}

.MovieYear{

}

.movieDetails{
    display: flex;
    width: 100%;
}

.button1,
.button2{
    flex:1;
    height: 30px;

    cursor: pointer;
   
   
    border-color: rgb(185, 81, 206);
    background: none;
   background: linear-gradient(to top, rgb(152, 46, 201),white);
    




}

.button2{
    background:none;
}
 
.button1:hover,
.button2:hover{
    background-color: rgb(156, 97, 212);
}
 

.button3{
    flex:1;
    height: 30px;

    cursor: pointer;
   
   
    border-color: rgb(185, 81, 206);
    background: none;
   background: linear-gradient(to top, rgb(152, 46, 201),white);

}

@media (max-width:1000px) and  (min-width:700px){
    .movieGrid{
        display: grid;
        
        grid-template-rows:  1fr 1fr;
        grid-template-columns:   1fr 1fr;
        justify-content: center;
    
        padding-left: 10%;
        padding-right: 10%;     
         
         
    } 
   

}

@media (max-width:699px)  {
    .movieGrid{
        display: flex;
        
       flex-direction: column;
        justify-content: center;
    
        padding-left: 10%;
        padding-right: 10%;
       
         
         
    }
    

    
}