.movie-gallery{
    display: flex;
    margin-top: 60px;
    margin-bottom: 40px;

    height: 80vh;
}

.arrow1,
.arrow2{
    width: 10%;
    display: flex;
    justify-content: center;
}

.left-arrow,
.right-arrow{
    background:  none;
    border: none;

    cursor: pointer;
    
}

.left-arrow:hover{
    .left-arrow-image{
        width: 50px;
    }

}

.right-arrow:hover{
    .right-arrow-image{
        width: 50px;
    }
    
}
.left-arrow-image{
    transform: rotate(-90deg);
    width: 40px;
}

.right-arrow-image{
    transform: rotate(90deg);
    width: 40px;

}

.movies{
    flex: 1;
    display: flex;
    justify-content: center;
}