
.cinema{
    margin: 10%;
    margin-top: 5%;
    /*border-left: black solid 2px;
    border : black solid 2px;*/
     
    padding: 40px;

    /*background: linear-gradient( to top, rgb(152, 46, 201),rgb(123, 81, 174), rgb(152, 46, 201));*/
    background-color:  rgba(235, 190, 235,0.2);

    border-radius: 20px;
     
}

/*********************************/


.details{
    display: flex;
    margin-bottom: 40px;
   
  
}
.cinema-image-box{
    flex: 1;
    display: flex;
    justify-content: center;
   
     


}
.cinema-image{
   
    width: 80%;
}

.cinema-description{
    flex:1;
    
}
.c1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 900;

}

.c1-para{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
    
}

 


/****************************************/

.button1 a{
    color: aliceblue;
    text-decoration: none;

}


.now-showing-movies{
    display: flex; 
}



.movie1{
    flex: 1;
     
    background-color: rgba(165, 42, 142, 0.2);
    margin: 2px;
    height: min-content;
    padding: 5px;

   
     
}

.movie1:hover{

    
     

    .movieName{
        color: brown;
         

    }
    .button1{
        
          
        font-weight: 900px;
        background: linear-gradient(to top, purple, rgb(241, 237, 237));
        color: black;
         
    }

 


     
}


.movieImageFrame{
    display: flex;
    justify-content: center;
    padding-top: 5px;
   
}
 

.movieImage{
     
    width: 70%;
    margin-top: 20px;
     
     

    

}



.movieName{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: 500px;

    margin-bottom: 10px;

    
}

.MovieYear{

}

.movieDetails{
    display: flex;
    width: 100%;
}

.button1,
.button2{
    flex:1;
    height: 40px;

    cursor: pointer;
   
   
    border-color: rgb(185, 81, 206);
    background: none;
    background: linear-gradient(to top, purple, black);
    color: aliceblue;
    transition: 0s;



}

.button2{
    background:none;
}
 
.button1:hover,
.button2:hover{
    background-color:purple;
}
 

.button3{
    flex:1;
    height: 40px;

    cursor: pointer;
   
   
    border-color: rgb(185, 81, 206);
    background: linear-gradient(to top, purple, black);
    color: aliceblue;
}

.linkText{
    color: rgb(255, 255, 255);
    text-decoration: none;

    font-size: 15px;
}
.linkText1{
    color: rgb(0, 0, 0);
    text-decoration: none;

    font-size: 15px;
}
.button2.linkText{
    color: rgb(8, 8, 8);

}



@media (max-width:1000px) and  (min-width:700px){
    .now-showing-movies{
        display: grid;
        
        grid-template-rows:  1fr 1fr;
        grid-template-columns:   1fr 1fr;
        justify-content: center;
    
        padding-left: 10%;
        padding-right: 10%;     
         
         
    } 

    .movie1{
        margin-top: 5px;
    }
   

}

@media (max-width:699px)  {
    .details{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .cinema-description{
         
        padding-left: 5%;
        padding-right: 5%;
    }
    .cinema{
        padding: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
    }


    .now-showing-movies{
        display: flex;
        
       flex-direction: column;
        justify-content: center;
    
        padding-left: 5%;
        padding-right:5%;
       
         
         
    }
    .movie1{
        margin-top: 5px;
    }
    

    
}